In [193]:
import pandas as pd

In [194]:
subscription_information = pd.read_csv('data/subscription_information.csv')
payment_information = pd.read_csv('data/payment_information.csv')
finanical_information = pd.read_csv('data/finanical_information.csv')
industry_client_details = pd.read_csv('data/industry_client_details.csv')

In [195]:
subscription_information

     client_id subscription_type  start_date    end_date  renewed
0   1131383004            Yearly  2020-11-11  2021-11-11    False
1   4309371709           Monthly  2021-05-24  2021-06-23     True
2   3183675157            Yearly  2021-12-25  2022-12-25     True
3   5371694837           Monthly  2020-03-14  2020-04-13     True
4   5157113076           Monthly  2019-11-07  2019-12-07    False
..         ...               ...         ...         ...      ...
95  4519356806           Monthly  2018-03-04  2018-04-03     True
96  9714663815           Monthly  2020-11-11  2020-12-11     True
97  9598980006           Monthly  2019-06-16  2019-07-16     True
98  3157098196           Monthly  2021-11-11  2021-12-11     True
99  8540187780           Monthly  2021-02-16  2021-03-18     True

[100 rows x 5 columns]

In [196]:
payment_information

     client_id payment_date  amount_paid payment_method
0   6292156167    9/16/2019        447.0  Bank Transfer
1   7462725203    5/21/2018        379.7  Bank Transfer
2   4698004907    9/11/2021        435.1          Check
3   3510240337    12/7/2020        413.1          Check
4   7501599785     3/4/2019         61.1  Bank Transfer
..         ...          ...          ...            ...
95  8155233099     6/3/2020        265.9    Credit Card
96  9752784850    9/15/2021        286.8    Credit Card
97  8988409533    5/15/2020        163.2    Credit Card
98  7465144773     9/7/2021        434.6          Check
99  9159056053    5/28/2022        486.4          Check

[100 rows x 4 columns]

In [197]:
finanical_information

    Unnamed: 0  start_date    end_date  inflation_rate  gdp_growth_rate
0            0  2018-01-01  2018-03-31            5.77             3.51
1            1  2018-04-01  2018-06-30            1.17             2.15
2            2  2018-07-01  2018-09-30            1.56             1.82
3            3  2018-10-01  2018-12-31            2.78             2.43
4            4  2019-01-01  2019-03-31            6.91             3.44
5            5  2019-04-01  2019-06-30            3.84             3.48
6            6  2019-07-01  2019-09-30            7.71             1.35
7            7  2019-10-01  2019-12-31            2.71             1.79
8            8  2020-01-01  2020-03-31            4.40             1.36
9            9  2020-04-01  2020-06-30            4.69             1.23
10          10  2020-07-01  2020-09-30            1.43             2.40
11          11  2020-10-01  2020-12-31            3.10             2.70
12          12  2021-01-01  2021-03-31            2.57             1.18
13          13  2021-04-01  2021-06-30            0.76             3.63
14          14  2021-07-01  2021-09-30            7.19             1.04
15          15  2021-10-01  2021-12-31            7.32             1.73
16          16  2022-01-01  2022-03-31            6.76             2.72
17          17  2022-04-01  2022-06-30            6.80             3.49
18          18  2022-07-01  2022-09-30            5.60             3.31
19          19  2022-10-01  2022-12-31            4.40             1.05
20          20  2023-01-01  2023-01-03            5.49             3.44

In [198]:
industry_client_details

     client_id company_size         industry   location
0   4280387012        Large  Finance Lending     Mumbai
1   2095513148        Small  Finance Lending    Chennai
2   7225516707       Medium  Finance Lending  New Delhi
3   8093537819        Large      Block Chain     Mumbai
4   4387541014       Medium      Hyper Local   Banglore
..         ...          ...              ...        ...
95  9159056053       Medium           Gaming  New Delhi
96  1077708772        Small      Block Chain     Mumbai
97  4361672518        Small               AI  New Delhi
98  6751372012        Large      Hyper Local     Mumbai
99  6209923307       Medium           Gaming    Chennai

[100 rows x 4 columns]

Que 1: How many finance lending and blockchain clients does the organization have?

In [199]:
df = industry_client_details[industry_client_details['industry'].isin(['Finance Lending','Block Chain'])].groupby('industry')[['industry']].count()
df

                 industry
industry
Block Chain            25
Finance Lending        22

In [200]:
df = industry_client_details[industry_client_details['industry'].isin(['Finance Lending','Block Chain'])].shape[0]
df

47

Que 2: Which industry in the organization has the highest renewal rate?

In [201]:
df = subscription_information.merge(industry_client_details, on = 'client_id', how = 'left')
df = df[df['renewed'] == True].groupby('industry').count()
print(df.sort_values('client_id', ascending=False).index[0])

Gaming

Que 3: What was the average inflation rate when their subscriptions were renewed?

In [202]:
subscription_information_renewed = subscription_information[subscription_information['renewed'] == True]
subscription_information['start_date'] = pd.to_datetime(subscription_information['start_date'])
finanical_information['start_date'] = pd.to_datetime(finanical_information['start_date'])
finanical_information['end_date'] = pd.to_datetime(finanical_information['end_date'])

finanical_information
subscription_information

     client_id subscription_type start_date    end_date  renewed
0   1131383004            Yearly 2020-11-11  2021-11-11    False
1   4309371709           Monthly 2021-05-24  2021-06-23     True
2   3183675157            Yearly 2021-12-25  2022-12-25     True
3   5371694837           Monthly 2020-03-14  2020-04-13     True
4   5157113076           Monthly 2019-11-07  2019-12-07    False
..         ...               ...        ...         ...      ...
95  4519356806           Monthly 2018-03-04  2018-04-03     True
96  9714663815           Monthly 2020-11-11  2020-12-11     True
97  9598980006           Monthly 2019-06-16  2019-07-16     True
98  3157098196           Monthly 2021-11-11  2021-12-11     True
99  8540187780           Monthly 2021-02-16  2021-03-18     True

[100 rows x 5 columns]

In [203]:
inflation_rates = []
for date in subscription_information_renewed['start_date']:
    rates = finanical_information[(date >= finanical_information['start_date']) & (date <= finanical_information['end_date'])]['inflation_rate']
    inflation_rates.append(rates.mean())
    
avg_inflation_rate = sum(inflation_rates)/len(inflation_rates)
print(avg_inflation_rate)

4.444545454545454

Que 4: What is the median amount paid each year for all payment methods?

In [204]:
payment_information['payment_year'] = pd.DatetimeIndex(payment_information['payment_date']).year
df = payment_information.groupby(['payment_year'])['amount_paid'].median()
print(df)

payment_year
2018    235.7
2019    360.9
2020    284.5
2021    306.8
2022    288.0
Name: amount_paid, dtype: float64